<h1>Cats</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Birthday</th>
    <th>Color</th>
  </tr>
  <% @cats.each do |cat| %>
  <tr>
    <td><%= link_to cat.name, cat_url(cat) %></td>
    <td><%= cat.sex %></td>
    <td><%= cat.age %></td>
    <td><%= cat.birth_date %></td>
    <td><%= cat.color %></td>
  </tr>
  <% end %>

</table>

<%= button_to "Add a new cat", new_cat_url, method: :get %>